<div class="container">
  <h1 class="title">
    詳細
  </h1>
 </div>

<div class="row">
  <div class="col s12 m7">
  <div class="card sticky-action">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag @movie.movie_image.url %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= @movie.movie_name %><i class="material-icons right">more_vert</i></span>
      <p><%= @movie.user.username%></p>
      <% if @movie.user.id == current_user.id %>
      <%= link_to "編集画面へ", edit_movie_path(@movie), class: "waves-effect waves-light btn" %>
      <% end %>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= @movie.movie_name %><i class="material-icons right">close</i></span>
      <p><%= simple_format @movie.movie_body %></p>
      <h3>いいね件数: <%= @movie.favorites.count %></h3>
<% if current_user.already_favorited?(@movie) %>
  <%= button_to 'いいねを取り消す', movie_favorite_path(@movie), method: :delete %>
<% else %>
  <%= button_to 'いいね', movie_favorites_path(@movie) %>
<% end %>
<h2>いいねしたユーザー</h2>
<% @movie.favorited_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>

<h2>コメント一覧</h2>
<% @movie_comments.each do |movie_comment| %>
<div>
<a href="/users/<%= @movie.user.id %>"><%= m.user.email %></a>
<%= m.content %>
<hr>
</div>
<% end %>

<%= form_for [@post, @movie_comment] do |f| %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>
    </div>
  </div>
</div>
</div>

